absl-py==2.1.0
addict==2.4.0
aiofiles==23.2.1
albucore==0.0.23
albumentations==2.0.0
alembic==1.14.1
annotated-types==0.7.0
anyio==4.8.0
appdirs==1.4.4
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
attrs==25.1.0
blinker==1.9.0
bracex==2.5.post1
Brotli @ file:///croot/brotli-split_1714483155106/work
build==1.2.2.post1
certifi==2024.12.14
charset-normalizer==3.4.1
clarabel==0.10.0
click==8.1.8
colorlog==6.9.0
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
ConfigArgParse==1.7
contourpy==1.3.0
cvxpy==1.6.2
cycler==0.12.1
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy @ file:///work/perseverance-python-buildout/croot/debugpy_1698884710808/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
docker-pycreds @ file:///Users/ktietz/demo/mc3/conda-bld/docker-pycreds_1630654474270/work
efficientnet_pytorch==0.7.1
einops==0.8.1
eval_type_backport==0.2.2
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1720869315914/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1725214404607/work
fastapi==0.115.11
fastjsonschema==2.21.1
ffmpy==0.5.0
filelock==3.16.1
Flask==3.0.3
fonttools==4.55.3
freetype-py==2.5.1
fsspec==2024.12.0
gitdb==4.0.12
GitPython==3.1.44
gradio==5.20.0
gradio_client==1.7.2
greenlet==3.1.1
groovy==0.1.2
grpcio==1.68.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.29.1
idna==3.10
imageio==2.37.0
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1726082825846/work
importlib_resources==6.5.2
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1719845459717/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1732896932739/work
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1731317204262/work
Jinja2==3.1.5
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1726610684920/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
jupyterlab_widgets==3.0.13
kapture==1.1.10
kapture-localization==1.1.10
kiwisolver==1.4.7
lightning-utilities==0.11.9
llvmlite==0.44.0
Mako==1.3.8
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.4
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
mdurl==0.1.2
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mpmath @ file:///work/perseverance-python-buildout/croot/mpmath_1698864994882/work
munch==4.0.0
nbformat==5.10.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx @ file:///croot/networkx_1717597493534/work
numba==0.61.0
numpy==2.0.2
numpy-quaternion==2024.0.7
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
open3d==0.19.0
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
optuna==4.2.0
orjson==3.10.15
osqp==0.6.7.post3
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1731802491770/work
pandas==2.2.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
piexif==1.1.3
pillow==11.1.0
pillow_heif==0.21.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1726613481435/work
plotly==5.24.1
poselib==2.0.4
pretrainedmodels==0.7.4
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1727341649933/work
protobuf==5.29.3
psutil==6.1.1
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1721585709575/work
pycolmap==3.11.1
pydantic==2.10.5
pydantic_core==2.27.2
pydub==0.25.1
pyglet==1.5.31
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
PyOpenGL==3.1.0
pyparsing==3.2.1
pyproject_hooks==1.2.0
pyquaternion==0.9.9
pyrender==0.1.45
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1731919281354/work
python-multipart==0.0.20
pytorch-fid==0.3.0
pytz==2024.2
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq @ file:///croot/pyzmq_1705605076900/work
qdldl==0.1.7.post5
referencing==0.36.2
regex==2024.11.6
requests @ file:///croot/requests_1730999120400/work
retrying==1.3.4
rich==13.9.4
roma==1.5.1
rpds-py==0.23.1
ruff==0.9.9
safehttpx==0.1.6
safetensors==0.5.2
scikit-learn==1.6.1
scipy==1.13.1
scs==3.2.7.post2
seaborn==0.13.2
segmentation_models_pytorch==0.4.0
semantic-version==2.10.0
sentry-sdk==2.19.2
setproctitle==1.3.4
setuptools==72.1.0
shellingham==1.5.4
simsimd==6.2.1
six==1.17.0
slurm==0.5.1
smmap==5.0.2
sniffio==1.3.1
SQLAlchemy==2.0.37
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.46.0
stringzilla==3.11.3
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
timm==1.0.13
tokenizers==0.21.0
tomlkit==0.13.2
torch==2.5.1
torch-fidelity==0.3.0
torchaudio==2.5.1
torchmetrics==1.6.1
torchvision==0.20.1
tornado @ file:///croot/tornado_1718740109488/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
transformers==4.48.0
trimesh==4.6.4
triton==3.1.0
typer==0.15.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
uvicorn==0.34.0
wandb==0.19.2
wcmatch==10.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
websockets==15.0
Werkzeug==3.0.6
wheel==0.44.0
widgetsnbextension==4.0.13
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
